* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;

}

header {
    background-color: rgb(255, 255, 255);
}

.contacto {
    width: 50%;
    height: 200px;
    /* align-items: center; */
    /* display:flex; */
}

.redes {
    width: 50%;
    height: 25px;
    align-items: center;
    padding: 10px;
}

.jumbotron {
    width: 100%;
    margin: auto;
    height: 80px;
    background-color: rgb(255, 255, 255);

}

*/ .text-center {
    width: 50%;
    text-align: center;
}

.box {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align: center;
    width: 25%;
    border-radius: 10px;
}


.contenedor {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.contenedor__cards {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.texto {
    font-size: 5%;
    height: 150px;

}

.card {
    border-radius: 10px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-content: center;
}

.texto {
    font-size: 25px;
}

.texto .texto_int {
    font-size: 15px;
    /* padding: 10px 0; */
}

.cont__btn {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}


.cont__btn button {
    background: #FFD600;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .texto {
        font-size: 15px;
    }

    .texto .texto_int {
        font-size: 10px;
    }

    .cont__btn button {
        font-size: 10px;
    }

    .text-center {
        width: 75%;
        text-align: center;
        font-size: 25px;
    }
}

@media screen and (max-width: 560px) {
    .contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .texto {
        font-size: 12px;
    }

    .texto .texto_int {
        font-size: 8px;
    }

    .cont__btn button {
        font-size: 8px;
    }

    .contacto {
        width: 50%;
        height: 300px;
    }

    .text-center {
        width: 75%;
        text-align: center;
        font-size: 25px;
    }
}